.app {
 margin: 10px;
 padding: 10px;
}

.main{
  /* display: flex; */
  padding-left: 50px;
}

.border-line{
    border:solid gray 0.5px;
    width: 700px;
    margin: 0 0 5px 0;
}

.table-border-line{
  border:solid black 0.5px;
}

.inputForm{
 margin: 5px;
 padding-left: 10px;
}

.inputForm div {
  margin: 5px;
}

.item-table{
  margin: 0 0 0 20px;
}

.editButton{
  margin: 2px;
  padding: 5px;
  border: none;
  border-radius: 10%;
  color:white;
  background:#238F76;
}

.deleteButton{
  border: none;
  border-radius: 10%;
  padding: 5px;
  color: white;
  font-weight: bold;
  background: #e4674e;
}

.addButton{
  border: none;
  border-radius: 5%;
  padding: 8px;
  margin: 10px;
  color: white;
  font-weight: bold;
  background: #238F76;
}

.confirmButton{
  margin: 20px 0;
  width: 300px;
  border: none;
  border-radius: 2%;
  padding: 18px;
  color: white;
  font-weight:bold;
  font-size: 15px;
  background:rgb(51, 150, 189);
}

.disabledButton{
  margin: 20px 0;
  width: 50px;
  border: none;
  border-radius: 10%;
  padding: 5px;
  color: white;
  background:gray;
}

.customer-input{
  padding: 10px;
}

.item-input{
  padding: 10px;
}

.remark-position{
  position: absolute;
  top: 800px;
  /* margin: 0 0 20px 20px; */
}

.total-amount{
  text-align: left;
}



.result{
  position: relative;
  height: 297mm; /* A4サイズの高さ */
  padding: 20mm; /* 印刷時の余白を設定 */
  width: 210mm;;
  color: black;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden; /* 内容がはみ出ないようにする */
}

/* .result{
  position: relative;
  height: 297mm;
  padding: 20mm; 
  width: 210mm;;
  color: black;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden; 
} */ 

.purchase-title{
  /* position: absolute; */
  text-align: center;
  color: white;
  /* top: 20mm; */
  background-color: #000;  width: 210mm; /* A4サイズの幅 */
  box-sizing: border-box; /* paddingが要素のサイズに含まれるようにする */

}

.customer-name{
  position: absolute;
  top: 150px;
  left: 30px;
}

.job{
  font-size: 14px;
}

.identification{
  font-size: 12px;
}

.purchase-total-amount{
  position: absolute;
  top: 230px;
}

@media print{.text{
  position: absolute;
  top: 100mm; /* 上から40mmの位置に配置 */
  right: 10mm;
  max-width: calc(100% - 40mm); /* 最大幅を設定 */
  height: 120px;
  border: 1px solid #000; /*for demo*/
  padding: 5px;
  overflow: auto;
  white-space: pre;
}
}

.text{
  position: absolute;
  top: 38mm;
  left: 140mm;
}

.remark-text{
  /* position: absolute; */
  position: absolute;
  top: 1000px;
  bottom:30mm;
  /* padding: 0.5em 1em; */
  /* margin: 2em 0; */
  font-weight: bold;
  /* border: solid 3px #000000; */

}

.attention{
    font-size: 10px;
    bottom: 5mm;
    width: 160px;
    padding: 0.5em 1em;
    color: red;
    border: solid 3px red;
}

.cooling-off-text{
  position: absolute;
  top: 700px;
  font-size: 10px;
  bottom: 5mm;
  width: 210mm;
  padding: 0.5em 1em;
  margin: 1.9em 0;
  color: red;
  /* border: solid 3px red; */

}

.cooling-off-mail{
  margin-top: 7px;
  text-align: right;
}

.cooling-off-mail span{
border: solid 1px red;


}

.warning{
  margin-top: 730px;

}
.warning-note{
  margin-top: 50px;
  width: 210mm;
}

.amount-table{
  position: absolute;
  top: 500px;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
}
.table-head{
  color:white;
  background-color: #000;
  width: 210mm;
}

.product-name{
  width: 125mm;

}

.quantity{
  width: 30mm;
}

.valuation-value{
  width: 50mm;
}

.white-border{
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

.black-border{
  border-left: 1px solid black;
}

.valuation-price{
  text-align: right;
}